header {
  &.header-scroll {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    background-color: #808080;
    max-width: inherit;
    width: 100%;
    padding-right: 0;
    display: flex;
    justify-content: center;
  }

  .header-block {
    display: flex;
    justify-content: center;
    padding: 3.2rem;
    gap: 3.2rem;
    transition: 0.3s linear;
    background-color: #808080;

    &.header-scroll-block {
      padding: 2rem 2rem;
      justify-content: flex-end;
    }

    a {
      font-weight: 400;
      font-size: 1.8rem;
      color: #ffffff;
      transition: 0.3s linear;

      &.active {
        color: #ff4d01;
      }

      &:hover {
        color: #ff4d01;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    .header-block {
      a {
        font-size: 1.6rem;
      }
    }
  }
}
