header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
  overflow: hidden;
  max-width: 1108px;
  margin: 0 auto;
  padding-right: 20rem;

  .header-block {
    display: flex;
    padding-top: 3.2rem;
    gap: 3.2rem;
    
    a {
      font-weight: 400;
      font-size: 1.8rem;
      color: #ffffff;
      transition: 0.3s linear;

      &:hover {
        color: #ff4d01;
      }
    }
  }
}
