main {
  .home-about {
    margin-top: 10.4rem;
    display: flex;

    gap: 7.3rem;

    .home-about-img {
      img {
        max-width: 45rem;
      }
    }

    .home-about-text {
      margin-top: 4rem;
      .title1 {
        font-size: 2rem;
        font-weight: 400;
        color: #ff4d01;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }

      h2 {
        font-size: 5.4rem;
        font-weight: 400;
        color: #191919;
        line-height: 61.99px;
        margin-bottom: 1.9rem;
      }

      p {
        font-size: 1.8rem;
        font-weight: 400;
        color: #605e5d;
        line-height: 30.01px;
      }

      .home-about-num {
        margin-top: 5.6rem;
        margin-bottom: 7.1rem;
        display: flex;
        flex-direction: row;
        gap: 8.5rem;

        .num {
          display: flex;
          flex-direction: column;

          .top {
            display: flex;
            flex-direction: row;
            font-size: 7.2rem;
            font-weight: 400;
            line-height: 84.02px;
            color: #191919;

            span {
              color: #ff4d01;
            }
          }

          .up {
            font-size: 1.8rem;
            font-weight: 400;
            color: #989899;
          }
        }
      }

      button {
        a {
          font-size: 1.8rem;
          font-weight: 400;
          color: #191919;
          border: 2px solid #191919;
          padding: 1.8rem 2.9rem;
          transition: 0.3s linear;

          &:hover {
            color: white;
            background-color: #605e5d;
          }
        }
      }
    }
  }
}
