main {
  .services {
    margin-bottom: 10rem;
    span {
      font-weight: 400;
      font-size: 2rem;
      color: #ff4d01;
      text-transform: uppercase;
    }
    .services-title {
      margin-bottom: 6.4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.5rem;
      h3 {
        font-size: 5.4rem;
        font-weight: 400;
        color: #191919;
        width: 46rem;
      }

      .services-buttons {
        display: flex;
        gap: 2.8rem;

        a {
          font-size: 1.8rem;
          font-weight: 400;
          color: #ffffff;

          &.one {
            background-color: #ff4d01;
            padding: 1.5rem 3.8rem;
            transition: 0.3s linear;

            &:hover {
              background-color: #343434;
            }
          }

          &.two {
            border: 1px solid #191919;
            color: #191919;
            padding: 1.5rem 3.8rem;
            transition: 0.3s linear;

            &:hover {
              background-color: #ff4d01;
              color: #ffffff;
              border: none;
            }
          }
        }
      }
    }
    .services-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 5.7rem;

      .services-card {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .card-img {
          margin-bottom: 3.2rem;
        }
        .card-text {
          margin-bottom: 2.3rem;
          h3 {
            font-weight: 400;
            font-size: 3.4rem;
            color: #191919;
            margin-bottom: 1.4rem;
          }
          p {
            font-weight: 400;
            font-size: 1.8rem;
            color: #605e5d;
            text-transform: lowercase;
          }
        }
        .card-link {
          a {
            font-size: 1.8rem;
            font-weight: 400;
            color: #191919;
            margin-top: 1.3rem;
            transition: 0.3s linear;
            &:hover {
              color: #ff4d01;
            }

            &::before {
              content: "";
              color: #191919;
              border: 1px solid #191919;
              background-color: #191919;
              padding: 0.7rem 1.8rem;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  main {
    .services {
      margin-bottom: 8rem;
      .services-title {
        margin-bottom: 4.4rem;
        h3 {
          font-size: 4.4rem;
        }

        .services-buttons {
          a {
            font-size: 1.6rem;
          }
        }
      }

      .services-cards {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 3.7rem;

        .services-card {
          .card-text {
            h3 {
              font-size: 2.4rem;
            }
          }

          .card-link {
            a {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  main {
    .services {
      margin-bottom: 5rem;
      span {
        font-size: 1.5rem;
      }

      .services-title {
        margin-bottom: 3.4rem;
        gap: 3rem;
        h3 {
          font-size: 3.4rem;
          width: inherit;
        }
        .services-buttons {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 566px) {
  main {
    .services {
      .services-title {
        margin-bottom: 2.4rem;
        h3 {
          font-size: 2.4rem;
        }
      }
      .services-cards {
        .services-card {
          .card-img {
            margin-bottom: 2.3rem;
          }
          .card-text {
            h3 {
              font-size: 2rem;
            }
            p {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
}
