main {
  .banner {
    position: relative;
    .banner-img {
      background-image: url("public/assets/img/homepage/banner/banner-img.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #34343499;
      }
    }

    .banner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-size: 7.2rem;
        font-weight: 400;
        color: #ffffff;
      }
      p {
        margin-top: 2rem;
        font-size: 1.8rem;
        font-weight: 400;
        color: #ffffff;
      }
      .banner-buttons {
        margin-top: 4.5rem;
        display: flex;
        align-items: center;
        gap: 2.8rem;

        button {
          a {
            font-size: 1.8rem;
            font-weight: 400;
            color: #ffffff;

            &.one {
              background-color: #ff4d01;
              padding: 1.5rem 3.8rem;
              transition: 0.3s linear;

              &:hover {
                background-color: #343434;
              }
            }

            &.two {
              border: 1px solid #ffffff;
              padding: 1.5rem 3.8rem;
              transition: 0.3s linear;

              &:hover {
                background-color: #ff4d01;
                color: #343434;
              }
            }
          }
        }
      }
    }
  }
}
