main {
  .cover {
    margin-top: 10rem;
    position: relative;
    .cover-img-container {
      .cover-img {
        width: 100%;
        height: 100%;
      }
    }
    .cover-title {
      position: absolute;
      bottom: 17rem;
      left: 14.6rem;

      h3 {
        font-size: 5.4rem;
        font-weight: 400;
        color: #191919;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.8rem;
        font-weight: 400;
        color: #605e5d;
      }

      .cover-buttons {
        display: flex;
        align-items: center;
        gap: 2.8rem;
        margin-top: 3.5rem;

        button {
          a {
            font-size: 1.8rem;
            font-weight: 400;
            color: #ffffff;

            &.one {
              background-color: #ff4d01;
              padding: 1.5rem 3.8rem;
              transition: 0.3s linear;

              &:hover {
                background-color: #343434;
              }
            }

            &.two {
              border: 1px solid #191919;
              color: #191919;
              padding: 1.5rem 3.8rem;
              transition: 0.3s linear;

              &:hover {
                background-color: #ff4d01;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}
