main {
  .about {
    display: flex;
    gap: 7.3rem;
    margin-bottom: 10rem;
    .about-img {
      img {
        max-width: 45rem;
      }
    }

    .about-text {
      margin-top: 4rem;
      span {
        font-size: 2rem;
        font-weight: 400;
        color: #ff4d01;
        text-transform: uppercase;
      }
      .about-title {
        margin-top: 1.5rem;
        h3 {
          font-size: 5.4rem;
          font-weight: 400;
          color: #191919;
          line-height: 61.99px;
          margin-bottom: 1.9rem;
        }

        p {
          font-size: 1.8rem;
          font-weight: 400;
          color: #605e5d;
          line-height: 30.01px;
        }
      }

      .about-num {
        margin-top: 5.6rem;
        margin-bottom: 7.1rem;
        display: flex;
        flex-direction: row;
        gap: 8.5rem;

        .num {
          display: flex;
          flex-direction: column;
          text-align: center;

          .top {
            display: flex;
            flex-direction: row;
            font-size: 7.2rem;
            font-weight: 400;
            line-height: 84.02px;
            color: #191919;

            span {
              color: #ff4d01;
              font-size: 7.2rem;
            }
          }

          .up {
            font-size: 1.8rem;
            font-weight: 400;
            color: #989899;
          }
        }
      }

      a {
        font-size: 1.8rem;
        font-weight: 400;
        color: #191919;
        border: 2px solid #191919;
        padding: 1.8rem 2.9rem;
        transition: 0.3s linear;

        &:hover {
          color: white;
          background-color: #605e5d;
          border: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  main {
    .about {
      gap: inherit;
      margin-bottom: 8rem;
      .about-text {
        margin-top: 0;
        .about-title {
          h3 {
            font-size: 4.4rem;
            line-height: inherit;
          }
          p {
            line-height: normal;
          }
        }
        .about-num {
          margin-top: 3rem;
          margin-bottom: 5rem;
          justify-content: center;
          .num {
            .top {
              font-size: 6rem;
              line-height: normal;

              span {
                font-size: 6rem;
              }
            }
          }
        }

        a {
          font-size: 1.6rem;
        }
      }
      flex-direction: column;
      .about-img {
        img {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  main {
    .about {
      margin-bottom: 5rem;
      .about-text {
        margin-bottom: 3.4rem;
        span {
          font-size: 1.5rem;
        }
        .about-title {
          h3 {
            font-size: 3.4rem;
          }
          p {
            font-size: 1.6rem;
          }
        }

        .about-num {
          .num {
            .top {
              font-size: 5rem;

              span {
                font-size: 5rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 566px) {
  main {
    .about {
      margin-bottom: 3rem;
      .about-text {
        .about-title {
          h3 {
            font-size: 2.4rem;
          }

          p {
            font-size: 1.3rem;
          }
        }
        .about-num {
          gap: 3.2rem;
          margin-top: 2.5rem;

          .num {
            .top {
              justify-content: center;
              flex-direction: unset;
              font-size: 4rem;
              span {
                font-size: 4rem;
              }
            }
            .up {
              font-size: 1.6rem;
            }
          }
        }
        a {
          font-size: 1.3rem;
          padding: 1.6rem 2.9rem;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
}
