main {
  .cover {
    position: relative;
    margin-bottom: 10rem;
    .cover-img-container {
      .cover-img {
        width: 100%;
        height: 100%;
      }
    }
    .cover-title {
      position: absolute;
      bottom: 17rem;
      left: 14.6rem;

      h3 {
        font-size: 5.4rem;
        font-weight: 400;
        color: #191919;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.8rem;
        font-weight: 400;
        color: #605e5d;
      }

      .cover-buttons {
        display: flex;
        align-items: center;
        gap: 2.8rem;
        margin-top: 3.5rem;

        a {
          font-size: 1.8rem;
          font-weight: 400;
          color: #ffffff;

          &.one {
            background-color: #ff4d01;
            padding: 1.5rem 3.8rem;
            transition: 0.3s linear;

            &:hover {
              background-color: #343434;
            }
          }

          &.two {
            border: 1px solid #191919;
            color: #191919;
            padding: 1.5rem 3.8rem;
            transition: 0.3s linear;

            &:hover {
              background-color: #ff4d01;
              color: #ffffff;
              border: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  main {
    .cover {
      margin-bottom: 8rem;
      .cover-title {
        bottom: 5rem;
        left: 3.6rem;
        h3 {
          font-size: 4.4rem;
        }

        p {
          font-size: 1.6rem;
        }

        .cover-buttons {
          a {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  main {
    .cover {
      margin-bottom: 5rem;
      .cover-title {
        bottom: 2rem;
        h3 {
          font-size: 3.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 566px) {
  main {
    .cover {
      margin-bottom: 3rem;
      background-color: #c8c7c7;
      .cover-img-container {
        .cover-img {
          display: none;
        }
      }
      .cover-title {
        padding: 2.5rem 2.5rem;
        position: inherit;
        bottom: 0;
        left: 0;
        right: 0;

        h3 {
          font-size: 2.4rem;
          margin-bottom: 1.5rem;
        }
        p {
          font-size: 1.5rem;
        }

        .cover-buttons {
          a {
            &.one {
              padding: 1.1rem 2.5rem;
            }
            &.two {
              padding: 1.1rem 2.5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
}
