main {
  .reviews {
    margin-bottom: 10rem;
    span {
      font-size: 2rem;
      font-weight: 400;
      color: #ff4d01;
      text-transform: uppercase;
    }

    .reviews-title {
      margin-bottom: 6.4rem;
      margin-top: 1.5rem;
      h3 {
        font-size: 5rem;
        font-weight: 400;
        color: #191919;
        width: 50rem;
      }
    }

    .reviews-cards {
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            .reviews-card {
              display: flex;
              flex-direction: row;
              gap: 3.8rem;
              .reviews-card-text {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h3 {
                  font-size: 2.8rem;
                  font-weight: 400;
                  color: #191919;
                  margin-bottom: 1.3rem;
                }

                p {
                  font-size: 1.8rem;
                  font-weight: 400;
                  color: #989899;
                  margin-bottom: 3.4rem;
                  text-transform: lowercase;
                  width: 50rem;
                  line-height: 3rem;
                }

                .reviews-card-text-author {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;

                  .text {
                    h4 {
                      font-size: 1.8rem;
                      font-weight: 400;
                      color: #191919;
                      margin-bottom: 0.6rem;
                    }

                    p {
                      text-transform: uppercase;
                      font-size: 1.4rem;
                      font-weight: 400;
                      color: #989899;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  main {
    .reviews {
      margin-bottom: 5rem;

      .reviews-title {
        margin-bottom: 4.4rem;
        h3 {
          font-size: 4.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 566px) {
}

@media screen and (max-width: 480px) {
}
