main {
  .banner {
    position: relative;
    margin-bottom: 10rem;
    .banner-img {
      background-image: url("/assets/img/homepage/banner/banner-img.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #34343499;
      }
    }

    .banner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-size: 7.2rem;
        font-weight: 400;
        margin-bottom: 2rem;
        color: #ffffff;
      }
      p {
        font-size: 1.8rem;
        font-weight: 400;
        color: #ffffff;
        margin-bottom: 4.5rem;
      }
      .banner-buttons {
        display: flex;
        align-items: center;
        gap: 2.8rem;

        a {
          font-size: 1.8rem;
          font-weight: 400;
          color: #ffffff;

          &.one {
            background-color: #ff4d01;
            padding: 1.5rem 3.8rem;
            transition: 0.3s linear;

            &:hover {
              background-color: #343434;
            }
          }

          &.two {
            border: 1px solid #ffffff;
            color: #ffffff;
            padding: 1.5rem 3.8rem;
            transition: 0.3s linear;

            &:hover {
              background-color: #ff4d01;
              color: #ffffff;
              border: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  main {
    .banner {
      margin-bottom: 8rem;
      .banner-img {
        height: 80vh;
      }
      .banner-text {
        h1 {
          font-size: 5.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  main {
    .banner {
      margin-bottom: 5rem;
      .banner-text {
        h1 {
          font-size: 3.2rem;
        }
        p {
          font-size: 1.6rem;
        }
        .banner-buttons {
          a {
            font-size: 1.6rem;
          }
        }
      }
      .banner-img {
        height: 65vh;
      }
    }
  }
}

@media screen and (max-width: 566px) {
  main {
    .banner {
      margin-bottom: 3rem;
      .banner-img {
        height: 44vh;
      }

      .banner-text {
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 1.3rem;
          margin-bottom: 2.5rem;
        }

        .banner-buttons {
          a {
            &.one {
              padding: 1.1rem 1.5rem;
            }
            &.two {
              padding: 1.1rem 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
}
